@media only screen and (min-width: 421px) {

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;

        

        .about_myself {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_about_myself {
                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_about_myself {
                display: flex;

                height: auto;

                p {
                    margin: 10px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }

        .education {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_education {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_education {

                h3 {
                    margin: 10px 0px 0px 0px;

                    font-size: 17.5px;
                    font-weight: 400;

                    text-decoration: underline;
                }

                p {
                    margin: 5px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 300;
                }
            }

        }

        .technical_skills {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_technical_skills {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_technical_skills {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }

        .my_experience {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_my_experience {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_my_experience {

                h3 {
                    margin: 10px 0px 0px 0px;

                    font-size: 17.5px;
                    font-weight: 400;

                    text-decoration: underline;
                }

                h4 {
                    margin: 10px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 400;
                }

                p {
                    margin: 10px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }

        .languages {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_languages {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_languages {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }

        .my_projects {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_my_projects {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_my_projects {

                h3 {
                    margin: 10px 0px 0px 0px;

                    font-size: 17.5px;
                    font-weight: 400;

                    text-decoration: underline;
                }

                p {
                    margin: 5px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 300;
                }

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    text-decoration: none;
                    color: blue;

                    margin: 10px 0px 0px 0px;

                    p {
                        font-weight: 500;
                        margin: 0px 0px 0px 5px;
                        font-size: 100%;
                    }

                    .icon {
                        font-size: 120%;
                        margin: 0px 0px 0px 0px;
                    }
                }
            }
        }

        .libraries_i_use {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_libraries_i_use {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_libraries_i_use {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }

        .soft_skills {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_soft_skills {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_soft_skills {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }

        .hobbies {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_hobbies {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_hobbies {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 420px) {

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;

        .about_myself {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_about_myself {
                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_about_myself {
                display: flex;

                height: auto;

                p {
                    margin: 10px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }

        .education {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_education {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_education {

                h3 {
                    margin: 10px 0px 0px 0px;

                    font-size: 17.5px;
                    font-weight: 400;

                    text-decoration: underline;
                }

                p {
                    margin: 5px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 300;
                }
            }

        }

        .technical_skills {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_technical_skills {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_technical_skills {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }

        .my_experience {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_my_experience {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_my_experience {

                h3 {
                    margin: 10px 0px 0px 0px;

                    font-size: 17.5px;
                    font-weight: 400;

                    text-decoration: underline;
                }

                h4 {
                    margin: 10px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 400;
                }

                p {
                    margin: 10px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }

        .languages {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_languages {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_languages {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }

        .my_projects {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_my_projects {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_my_projects {

                h3 {
                    margin: 10px 0px 0px 0px;

                    font-size: 17.5px;
                    font-weight: 400;

                    text-decoration: underline;
                }

                p {
                    margin: 5px 0px 0px 0px;

                    font-size: 15px;
                    font-weight: 300;
                }

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    text-decoration: none;
                    color: blue;

                    margin: 10px 0px 0px 0px;

                    p {
                        font-weight: 500;
                        margin: 0px 0px 0px 5px;
                        font-size: 100%;
                    }

                    .icon {
                        font-size: 120%;
                        margin: 0px 0px 0px 0px;
                    }
                }
            }
        }

        .libraries_i_use {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_libraries_i_use {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_libraries_i_use {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }

        .soft_skills {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_soft_skills {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_soft_skills {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }

        .hobbies {
            display: flex;
            flex-direction: column;

            width: 80vw;

            margin: 15px 0px 0px 0px;

            .heading_hobbies {

                display: flex;
                align-items: center;

                margin: 0px 0px 0px 0px;

                .dot {
                    width: 6px;
                    height: 6px;

                    background-color: black;
                    border-radius: 50%;
                }

                h2 {
                    margin: 0px 0px 0px 7.5px;

                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .content_hobbies {

                ul {
                    margin: 10px 0px 0px 0px;
                    padding: 0px 0px 0px 20px;

                    list-style: none;

                    li {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 5px 0px 0px 0px;
                    }
                }
            }
        }
    }
}